<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main id="index-ejs-main-productos">
    <h2>Lista de productos</h2>
    <div class="flex-row-center-center">
        <div id="index-ejs-productos-contenedor">
            <!-- Vamos a iterar el array de productos que le pasamos desde el endpoint -->
            <% productos.forEach((prod, key)=> { %>
                <div id="<%= prod.id %>" class="index-ejs-producto">
                    <img src="<%= prod.imagen %>" alt="<%= prod.nombre %>">
                    <div class="index-ejs-sub-contenedor-producto">
                        <h5>
                            <%= prod.nombre %>
                        </h5>
                        <div class="flex-row-center-center">
                            <p>$<%= prod.precio %></p>
                            <p>Id: <%= prod.id %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>

        <div id="index-ejs-detalles-contenedor-producto">
            <h3>Seleccione un producto...</h3>
        </div>
    </div>
</main>
<script>
  const productosData = JSON.parse('<%- JSON.stringify(productos) %>');
</script>
<script defer src="/js/admin.js"></script>
<%- include("partials/footer.ejs") %>

